/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */

.container {
    width: 60%;
    margin: auto;
}

.product {
    display: inline-block;
    width: calc(100% / 3);   
    position: relative;
}

/* Stile immagini */

.product_image {
    width: 100%;
    padding: 5px;
}

.main_image {
    position: absolute;
    z-index: 1;
}

.product:hover .main_image {
    display: none;
}

/* Stile tasto like */

.like {
    position: absolute;
    background-color: white;
    font-size: 25px;
    padding: 5px 10px;
    top: 20px;
    right: 5px;
    z-index: 2;
}

/* Stile etichette sconti e sostenibilità*/

.tag {
    display: inline-block;
    padding: 5px;
    color: white;
}

.discount { 
    background-color: #eb0037;
}

.sustainability {
    background-color: #00875a;
}

.discount_and_sustainability {
    position: absolute;
    z-index: 2;
    left: 5px;
    bottom: 80px;
}

/* Stile caption */

.price {
    color: #eb0037;
}

.original_price {
    text-decoration: line-through;
}