/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */

.container {
    width: 60%;
    margin: auto;
}

.product {
    display: inline-block;
    width: calc(100% / 3);   
    position: relative;
}

.product_image {
    width: 100%;
    padding: 5px;
}

#main_image {
    position: absolute;
    z-index: 1;
}

.product:hover #main_image {
    display: none;
}

.like {
    position: absolute;
    background-color: white;
    font-size: 25px;
    padding: 10px 15px;
    top: 20px;
    right: 5px;
    z-index: 2;
}